.container{
    display: flex;
    justify-content:center;
    gap:10px;
    background: #F3F3F5;
    
    padding-top:20px;
    overflow-x: hidden;
    height:100vh;
    overflow-y: hidden;
    /* padding-bottom: 500px; */
    /* flex-wrap: wrap; */
}