.container{
    display: flex;
    justify-content:center;
    gap:10px;
    background: #F3F3F5;
    width: 100%;
    padding:20px;
    overflow-x: hidden;
    height:100vh;
    overflow-y: hidden;
    /* flex-wrap: wrap; */
}