.guestsStatusess {
  max-width: 315px;
  max-height: 460px;
  height:100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.title {
    overflow-y: hidden;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 2;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}

.linkList {
    text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #5f41d9;
}
