.head {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;

}

.title {
  font-family: Manropelight;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  position: absolute;
  left: 30px;
  letter-spacing: 0.7px;

}

.buttons {
    position: absolute;
    top: auto;
    right: 30px;
    display: flex;
    justify-content: space-between;
    width:300px

}
