

.WeddingDetails{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
      justify-content: space-between;
      max-width: 670px;
      max-height: 800px;
        height:100%;
      padding-top:70px;
      /* margin: 0 auto; */
      /* margin-top: 20px; */
}