.inputs {
  display: flex;
  gap: 15px;
}

.input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.inputTitle {
  font-size: 14px;
  color: #61656c;
  margin-right: 7px;
}
.filtering {
  padding: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
  background-color: #f5f7fa;
  margin-top: 20px;
  margin-bottom: 50px;
}

.filterMainTitle {
  display: flex;
  gap: 3px;
}

.clearBtn {
  margin-left: 10px;
}
