.title {
  font-size: 18px;
  margin-left: 20px;
}

.miniTitle {
  font-size: 12px;
}



.numberGreen {
  color: "#009317";
}
.titleUpTable {
  color: #909192;
  padding: 0;
  margin: 0;
}

.tableToolbar {
  display: flex;
  justify-content: flex-start;
  width:100%;
  gap: 20px;
}
