.invitation {
    display: flex;
    align-items: center;
  }
  
  .invitation span {
    margin-left: 5px;
    font-family: IBMPlexSans;
  }
  
  .actions {
    display: flex;
    align-items: center;
    gap:20px;
  }