.checklist {
  max-width: 335px;
  width: 100%;
  /* max-height: 800px; */
  overflow-y: auto;
  max-height:840px;
  height:100%;
  background: rgb(255, 255, 255);
  position: relative;
}

.checkbox-wrapper input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid #007a7e;
  outline: none;
  cursor: pointer;
}

.title {
  overflow-y: hidden;
  font-style: normal;
  font-weight: 2;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.4px;
  margin-bottom: 33px;
}

.numbers {
  color: rgb(144, 144, 144);
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 200px;
  /* position: absolute;
  bottom: 16px;
  left: 16px; */
}

.checklist button {
  color: #5f41d9;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


.inputNewChecklistElement {
  border: 0;
  outline: 0;
  width: 100%;
  height: 30px;
  padding: 10px;
}

